body {
    font-family : 'Hind', sans-serif;
    font-size   : 15px;
    line-height : 1.8em;
    color       : #989898;
    font-weight : 300;
    background  : #f8f8f8;
    }

h1, h2, h3, h4, h5, h6 {
    margin : 0 0 15px;
    color  : #444444;
    }

h1 {
    font-size   : 36px;
    line-height : 1.8em;
    font-weight : 700;
    }

h2 {
    font-size   : 18px;
    line-height : 1.8em;
    font-weight : 700;
    }

h3 {
    font-size   : 13px;
    line-height : 1.8em;
    font-weight : 700;
    }

h4 {
    font-size   : 15px;
    line-height : 1.8em;
    font-weight : 500;
    }

h5 {
    font-size   : 15px;
    line-height : 1.5em;
    font-weight : 500;
    }

h6 {
    font-size   : 15px;
    line-height : 1.5em;
    }

#main-wrapper {
    overflow : hidden;
    }

.section-wrapper {
    padding : 50px 0;
    }

@media (max-width : 768px) {
    .section-wrapper {
        padding : 20px 0;
        }
    }

@media (max-width : 600px){
    .section-wrapper {
        padding : 20px;
        }
    }

/*---------------------------
 * Section Title
 *---------------------------*/
.section-title {
    margin-right : 30px;
    text-align   : right;
    }

.section-title h2 {
    font-size      : 14px;
    margin-bottom  : 5px;
    color          : #c62323;
    text-transform : uppercase;
    }

@media (max-width: 768px) {
    .section-title{
        text-align: left;
        }
    .section-title h2{
        font-size: 18px;
        margin-bottom: 20px;
        }
    }

/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-----------------------------*/

.header {
    padding    : 50px 0;
    margin     : 0;
    position   : relative;
    border-top : 5px solid #c62323;
    }

.header .profile-img {
    margin-right : 30px;
    }

.header .name-wrapper {
    margin-bottom : 30px;
    }

.header .name-wrapper h1 {
    text-transform : uppercase;
    line-height    : 1;
    margin         : 0 0 5px;
    }

.header .name-wrapper span {
    font-size : 24px;
    color     : #c62323;
    }

.header .personal-details {
    margin : 10px 0;
    }

.header .personal-details strong {
    font-size   : 13px;
    color       : #444444;
    display     : block;
    line-height : 1;
    }

.header .personal-details small {
    font-size : 12px;
    }

.header .personal-details span {
    color : #989898;
    }

@media (max-width : 768px) {
    .header {
        padding    : 20px 0;
        }

    .header .profile-img {
        margin: 0 0 30px;
        }
    }

@media (max-width : 600px){
    .header{
        padding: 20px;
        }
    }


    /*-------------------
     * Social Icon
     *-------------------*/

.social-icon {
    margin  : 20px 0;
    padding : 0;
    display : block;
    }

.social-icon li {
    display : inline-block;
    margin  : 0 2px;
    }

.social-icon li a {
    display       : block;
    background    : #c62323; 
    font-size     : 12px;
    color         : #fff;
    width         : 34px;
    height        : 34px;
    line-height   : 33px;
    text-align    : center;
    border-radius : 2px;
    border        : 2px solid #eeeeee;
    }

.social-icon li a:hover {
    border-color : #871616;
    }

/*-------------------
 * Expertise
 *-------------------*/
.expertise-item {
    margin-bottom : 20px;
    }

.expertise-item h3 {
    text-transform : uppercase;
    margin-bottom  : 5px;
    }


/* Pagination */

.owl-controls .owl-page{
    display: inline-block;
    }

.owl-controls .owl-page span{
    width: 4px;
    height: 4px;
    background: #000;
    margin-right: 10px;
    display: block;
    border-radius: 100%;
    opacity: .3;
    }

.owl-controls .owl-page.active span{
    opacity: 1;
    box-shadow: 0 0 0 1px #000;
    }


/*-------------------
 * Content Item
 *-------------------*/

.content-item {
    margin-bottom : 40px;
    }

.content-item h3 {
    margin         : 0 0 10px;
    line-height    : 1;
    font-weight    : bold;
    text-transform : uppercase;
    }

.content-item h4 {
    margin      : 0;
    line-height : 1;
    }

.content-item small {
    color : #888888;
    }



